@page "/wildliferecordings"
@using XenoCanto

@rendermode InteractiveServer
@inject XenoCanto.XenoCantoHttpClient xenoCantoHttpClient

@code {

    private XenoCanto.XenoCantoFilter FilterHelper = new XenoCanto.XenoCantoFilter();

    protected override async Task OnInitializedAsync()
    {
      
        try
        {
            FilterHelper.InitialData = await xenoCantoHttpClient.GetAsync();
        }
        catch (Exception ex)
        {
            FilterHelper.errorString = ex.Message;
        }
    }



}




<PageTitle>Wild Life Recordings In Surrey England</PageTitle>

<h2>Wild Life Recordings In Surrey England</h2>


@if (FilterHelper.InitialData == null)
{
    @if (FilterHelper.errorString is not null)
    {
        <p><em>@FilterHelper.errorString</em></p>
    }
    else
    {
        <p><em>Loading...</em></p>
    }
}
else
{


    <fieldset>
        <legend>Filter Name</legend>
        <input type="text" @bind="FilterHelper.NameFilter" placeholder="Filter by Name..." @bind:event="oninput" />
    </fieldset>
    <fieldset>
        <legend>Filter Type</legend>
        <InputRadioGroup @bind-Value="FilterHelper.ModeFilter">
            <label>
                <InputRadio Value="FilterModes.All" />
                All
            </label>
            <label>
                <InputRadio Value="FilterModes.Animals" />
                Animals
            </label>
            <label>
                <InputRadio Value="FilterModes.Birds" />
                Birds
            </label>
        </InputRadioGroup>
    </fieldset>

    <QuickGrid Items="@FilterHelper.Recordings">
        <PropertyColumn Property="@(r => r.uploaded)" Title="Date" Format="dd-MM-yyyy" Sortable="true" />
        <PropertyColumn Property="@(r => r.grp)" Title="Type" Sortable="true" />
        <PropertyColumn Property="@(r => r.en)" Title="Name" Sortable="true" />
        <PropertyColumn Property="@(r => r.rec)" Title="Recordist" Sortable="true" />
        <PropertyColumn Property="@(r => r.rmk)" Title="Remarks" />
        <TemplateColumn Context="r" Title="Recording">
            <AudioComponent Src="@r.file" />
        </TemplateColumn>
    </QuickGrid>

}

